<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    <title>Login</title>
</head>
<body>
    <div class="container space-around w-75 mx-auto flex-wrap">
        <div class="login-container">
            <form class="login">
                <div class="login-box">
                    <span>Email</span>
                    <input
                        name="email"
                        type="text"
                        placeholder="email@email.com"
                        class="mt-1"
                    />
                </div>
                <div class="login-box">
                    <span>Password</span>
                    <input
                        name="password"
                        type="password"
                        placeholder="password"
                        class="mt-1"
                    />
                </div>
                <button class="button">Login</button>
            </form>
        </div>
        <div class="logo">
            <img src="../img/logo.png" class="logo-large" />
        </div>
    </div>
</body>
