.product-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.product-form > button {
    padding: 0.5rem 0;
    max-width: 6rem;
}

.product-form > * {
    width: 100%;
}

.product-form > textarea {
    height: 6rem;
    resize: vertical;
    background-color: var(--bg-inset);
    color: var(--fg-default);
    border: var(--border);
    border-radius: var(--border-radius);
}

.product-form > input[type="text"],
.product-form > textarea {
    background-color: var(--bg-inset);
    color: var(--fg-default);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
}
