.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: left;

    width: 500px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.login {
    width: 80%;
}

.login input {
    border: none;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0px;
    background-color: transparent;
    color: var(--fg-default);
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

.login-screen-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}

.login-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 6rem;
}

@media only screen and (max-width: 768px) {
    .login-screen-container {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .login-screen-container > .logo > img {
        width: 150px;
        height: 150px;
    }

    .login-box {
        width: max-content;
    }
}
