.search-bar-container {
    background-color: var(--bg-overlay);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    width: auto;
    max-width: 800px;

    margin-bottom: 1rem;

    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;

    border: var(--border);
}

.search-bar {
    display: flex;
    gap: 0.5rem;
}

.search-input-container {
    border: none;
    background-color: var(--bg-inset);
    flex-grow: 1;
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
}

.search-input-container > svg {
    fill: var(--fg-muted);
    padding: 0.5rem;
}

.search-input-container > input {
    border: none;
    background-color: transparent;
    color: var(--fg-default);
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.search-input-container > input::placeholder {
    color: var(--fg-muted);
}

.search-button {
    padding: 0.5rem;
}

.coffee-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: auto;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 1rem;
}

.coffee-list-entry {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--bg-overlay);
    height: 142px;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border: var(--border);
}

.coffee-image > img {
    width: 142px;
    height: 142px;
    object-fit: cover;
    border-radius: var(--border-radius);
    vertical-align: middle;
}

.coffee-image {
    width: 142px;
    height: 142px;
    border-radius: var(--border-radius);
}

.coffee-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.coffee-title {
    font-size: 1.2rem;
}

.coffee-brand {
    font-size: 0.9rem;
}

.coffee-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    font-size: 1rem;
    margin-top: 0.3rem;
    border-top: var(--border);
    border-top-style: dashed;
    padding-top: 0.3rem;
}


.coffee-rating {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.9rem;
}

.coffee-brand {
    color: var(--fg-muted);
}

.star {
    display: flex;
    align-items: center;
}

.star > svg {
    fill: var(--fg-muted);
}

.filled > svg {
    fill: var(--gold);
}


@media screen and (max-width: 768px) {
    .coffee-title {
        font-size: 1rem;
    }
            
    .coffee-description {
        display: none;
    }
}

.no-results-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--bg-overlay);
    padding: 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
    width: auto;
    max-width: 800px;
}

.product-link {
    color: var(--fg-default);
    text-decoration: none;
}

.button-disabled {
    background-color: var(--bg-inset-hover);
    pointer-events: none;  
    cursor: default; 
}

