.coffe-header {
    display: flex;
    gap: 1rem;
}

.coffee-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.product-box {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.actions-menu {
    justify-self: flex-end;
    display: flex;
    gap: 1rem;
}

.stars > svg:hover {
    cursor: pointer;
}

.stars > svg {
    fill: var(--fg-muted);
}

.bookmark > svg {
    fill: var(--fg-muted);
}

.bookmark > svg:hover {
    cursor: pointer;
}

.actions-mobile-box {
    display: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--bg-inset);
    border: var(--border);
    color: var(--fg-default);
}

@media only screen and (max-width: 768px) {
    .actions-menu {
        display: none;
    }

    .actions-mobile-box {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}
