:root {
    /* Colors */
    --fg-default: #e6edf3;
    --fg-muted: #7d8590;
    --border-color: #444c56;
    --bg-overlay: #2d333b;
    --bg-inset: #1c2128;
    --gold: #f1c40f;

    /* Dimensions */
    --border-radius: 5px;

    /* Misc */
    --border: 2px solid var(--border-color);
}

body {
    background: linear-gradient(
        135deg,
        #7d3c98 0%,
        #673ab7 48.44%,
        #430fbf 100%
    );

    background-repeat: no-repeat;
    background-size: cover;

    color: var(--fg-default);

    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;

    margin: 0;
}

.logo-large {
    width: 300px;
    height: 300px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    vertical-align: middle;
}

.button {
    background: #1c2128;
    border-radius: var(--border-radius);
    padding: 1rem;
    color: var(--fg-default);
    border: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content-container {
    padding-left: 1rem;
    padding-right: 1rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nagivation-bar-container {
    width: auto;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--bg-overlay);
    border: var(--border);
}

.navigation-pages {
    text-decoration: none;
}

.navigation-pages > a {
    color: var(--fg-default);
    text-decoration: none;
}

.navigation-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    width: 6rem;
    border-radius: var(--border-radius);
    background-color: var(--bg-inset);
    border: var(--border);
    color: var(--fg-default);

    flex-grow: 1;
}

.navigation-button:hover {
    background-color: var(--bg-inset-hover);
    cursor: pointer;
}

nav {
    background-color: var(--bg-overlay);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
    justify-self: center;
}

nav > a > svg {
    fill: var(--fg-default);
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.box {
    background: #2d333b;

    border: var(--border);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);

    box-sizing: border-box;

    padding: 3rem;
}

@media only screen and (max-width: 768px) {
    nav {
        order: 1;
        margin-top: auto;
    }
}
