:root {
    /* Colors */
    --fg-default: #e6edf3;
    --border: #444c56;
}

body {
    background: linear-gradient(
        135deg,
        #7d3c98 0%,
        #673ab7 48.44%,
        #430fbf 100%
    );

    background-repeat: no-repeat;
    background-size: cover;

    color: var(--fg-default);

    height: 100vh;

    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;

    margin: 0;
}

.logo-large {
    width: 300px;
    height: 300px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.button {
    background: #1c2128;
    border-radius: 5px;
    padding: 1rem;
    color: var(--fg-default);
    border: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.space-around {
    justify-content: space-around;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 75%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-wrap {
    flex-wrap: wrap;
}
